web:
  build: .
  command: npm start
  volumes:
    - .:/gdoc-publisher
  ports:
    - "3000:3000"
  links:
    - memcached
  environment:
    PORT: 3000
memcached:
  hostname: memcached
  image: memcached
  environment:
    # Memcached memory limit in megabytes
    - MEMCACHED_MEMORY_LIMIT=128
