<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <style type="text/css">
      body {
        background-color: #EEEEEE;
        margin: 0;
      }
      iframe {
        margin: auto;
        max-width: 794px;
        width: 100%;
        height: 100vh;
        background: white;
        border: none;
        max-height: 100%;
        display: block;
        box-shadow: 0 0 0 0.75pt #d1d1d1,0 0 3pt 0.75pt #ccc;
      }
    </style>
  </head>
  <body>
  <iframe src="https://docs.google.com/document/d/<%= hash %>/pub" id="googledoc"></iframe>
  </body>
</html>