<!doctype html>
<html>
  <head>
    <title>Google Doc Publisher</title>
    <style type="text/css">
      body {
        background-color: #EEEEEE;
        margin: 0;
      }
      iframe {
        margin: auto;
        max-width: 794px;
        width: 100%;
        height: 100vh;
        background: white;
        border: none;
        max-height: 100%;
        display: block;
        box-shadow: 0 0 0 0.75pt #d1d1d1,0 0 3pt 0.75pt #ccc;
      }
    </style>
  </head>
  <body>
  <iframe src="https://docs.google.com/document/d/<%= hash %>/pub" id="googledoc"></iframe>
  <script type="text/javascript">
    var iframe = document.getElementById('googledoc');
    var request = new XMLHttpRequest();
    request.open('GET', iframe.getAttribute('src'), true);
    request.onload = function() {
      if (request.status >= 200 && request.status < 400) {
        document.title = request.responseText.match(/<title>(.*)<\/title>/)[1];  
      }
    };
    request.send();
  </script>
  </body>
</html>